* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 32px;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body .Submit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .Submit__wrapper span {
  font-weight: 700;
  color: #363636;
  margin: 0 0 8px;
  font-size: 1rem;
}

body .Submit__wrapper .text {
  -webkit-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
          box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  background-color: #fff;
  height: 2.5rem;
  max-width: 100%;
  width: 100%;
  padding: 7px 11px;
}

body .Submit__wrapper .text::-webkit-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .Submit__wrapper .text:-ms-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .Submit__wrapper .text::-ms-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .Submit__wrapper .text::placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .Submit__wrapper .text:hover {
  border-color: #b5b5b5;
}

body .Submit__wrapper .text:focus {
  outline: none;
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: none;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20px;
  padding: 1rem 24px;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1);
          box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1);
  border-radius: 1rem;
  margin: 0 auto;
  color: #4a4a4a;
}

body .container .heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f5f5f5;
}

body .container .heading h1 {
  color: #363636;
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 500;
}

body .container .heading h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

body .container .h2 {
  text-align: end;
  font-weight: 400;
  line-height: 1.5;
}

body .container .body {
  margin-top: 0.8rem;
  border-bottom: 1px solid #f5f5f5;
}

body .container .body .Submit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .body .Submit__container .Submit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .body .Submit__container .Submit__wrapper span {
  font-weight: 700;
  color: #363636;
  margin: 0 0 8px;
  font-size: 1rem;
}

body .container .body .Submit__container .Submit__wrapper .text {
  -webkit-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
          box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  background-color: #fff;
  height: 2.5rem;
  max-width: 100%;
  width: 100%;
  padding: 7px 11px;
}

body .container .body .Submit__container .Submit__wrapper .text::-webkit-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .container .body .Submit__container .Submit__wrapper .text:-ms-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .container .body .Submit__container .Submit__wrapper .text::-ms-input-placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .container .body .Submit__container .Submit__wrapper .text::placeholder {
  opacity: 0.5;
  font-weight: 200;
  font-size: 1rem;
}

body .container .body .Submit__container .Submit__wrapper .text:hover {
  border-color: #b5b5b5;
}

body .container .body .Submit__container .Submit__wrapper .text:focus {
  outline: none;
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

body .container .body .Submit__container .Submit__description {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  margin-top: 1rem;
}

body .container .body .Submit__container .Submit__description .text {
  width: 100%;
  max-width: 100%;
  max-height: 40rem;
  min-height: 8rem;
  height: auto;
  padding: 11px;
}

body .container .body .Submit__container .Submit__deadline {
  margin-left: 1.2rem;
}

body .container .body .Submit__container .Submit__wrapper:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.2rem);
          flex: 1 1 calc(50% - 1.2rem);
}

body .container .body h4 {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

body .container .body .Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.75rem;
}

body .container .body .Actions button {
  padding: 7px 16px;
  border-radius: 2px;
  text-align: center;
  border-width: 1px;
  border: 1px solid transparent;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}

body .container .body .Actions .Create {
  margin-right: 12px;
  background: #ebfffc;
  color: #00947e;
}

body .container .body .Actions .Create:hover {
  background-color: #defffa;
  border-color: transparent;
}

body .container .body .Actions .Reset {
  background: #feecf0;
  color: #cc0f35;
}

body .container .body .Actions .Reset:hover {
  background-color: #fde0e6;
  border-color: transparent;
}

body .container .MyTasks {
  margin: 0.8rem 0;
}

body .container .MyTasks .Output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebfffc;
  margin-top: 1.5rem;
  border-radius: 4px;
  overflow: hidden;
  font-size: 16px;
}

body .container .MyTasks .Output .Output__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00d1b2;
  padding: 0.75em 1em;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
}

body .container .MyTasks .Output .Output__name p {
  line-height: 1.25;
}

body .container .MyTasks .Output .Output__name .Date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25;
}

body .container .MyTasks .Output .Output__name .Date .Delete {
  margin-left: 0.75em;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 290486px;
  border: none;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  max-width: 20px;
  min-width: 20px;
  outline: 0;
  width: 20px;
  line-height: 1.25;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.25;
}

body .container .MyTasks .Output .Output__name .Date .Delete:hover {
  background-color: rgba(10, 10, 10, 0.3);
}

body .container .MyTasks .Output .Output__description {
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00947e;
  border-color: #00d1b2;
}

body .container .MyTasks .Output .Output__description .Options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

body .container .MyTasks .Output .Output__description .Options .Edit {
  background-color: #fff;
  border-width: 1px;
  color: #363636;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 7px 16px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  height: 2.5em;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
}

body .container .MyTasks .Output .Output__description .Options .Edit:hover {
  border-color: #b5b5b5;
  color: #363636;
}

body .container .MyTasks .Output .Output__description .Options .checkbox {
  margin-left: 1rem;
  cursor: pointer;
}

body .container .MyTasks .Output .Output__description .Options .checkbox:hover {
  color: #363636;
}

body .container .MyTasks .Output .Output__description .Options .checkbox input {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal .modalContent {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
}

.modal .modalContent .Submit__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-bottom: 12px;
}

.modal .modalContent .Submit__wrapper .text {
  margin-bottom: 8px;
}

.modal .modalContent .editDescription {
  max-height: 40em;
  min-height: 8em;
}

.modalOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalOptions .modalCheckbox, .modalOptions .Change {
  cursor: pointer;
}

.modalOptions .modalCheckbox {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.modalOptions .Change {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 7px 16px;
  background: #00d1b2;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
  margin-top: 16px;
}

.modalOptions .Change:hover {
  background-color: #00c4a7;
}

.modalClose {
  position: absolute;
  right: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 290486px;
  border: none;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  max-width: 20px;
  min-width: 20px;
  outline: 0;
  width: 20px;
  cursor: pointer;
}

.modalClose:hover {
  background-color: rgba(10, 10, 10, 0.3);
}
/*# sourceMappingURL=main.css.map */